/* Button Styles */
.icon {
    font-size: var(--font-size-medium) !important;
    cursor: pointer;
}

.icon:focus {
    outline: none !important;
}


.icon.icon-disabled {
    background-color: var(--button-disabled-background) !important;
    cursor: not-allowed !important;
}

.icon.icon-primary {
    /* background-color: var(--button-background); */
    color: white;
}

.icon.icon-primary:hover:not(.disabled) {
    background-color: var(--button-hover-background);
}
.icon.icon-danger {
    background-color: var(--danger);
    color: white;
}

.icon.icon-danger:hover:not(.disabled) {
    background-color: var(--danger-light);
    color: black;
}
.icon.icon-success {
    background-color: var(--success);
    color: white;
}

.icon.icon-success:hover:not(.disabled) {
    background-color: var(--success-light);
    color: black;
}
.icon.icon-warning {
    background-color: var(--warning);
    color: black;
}

.icon.icon-warning:hover:not(.disabled) {
    background-color: var(--warning-light);
    color: black;
}
.icon.icon-notification {
    background-color: var(--notification);
    color: white;
}

.icon.icon-notification:hover:not(.disabled) {
    background-color: var(--notification-light);
    color: black;
}

/* Apply styles to different button sizes */


/* Small button */
.icon-small {
    font-size: var(--font-size-small);
    padding: var(--padding-small);
}

/* Medium button */
.icon-default {
    font-size: var(--font-size-medium);
    padding: var(--padding-medium);
}

/* Large button */
.icon-large {
    font-size: var(--font-size-large);
    padding: var(--padding-large);
}




