.ant-input-affix-wrapper,
.ant-input-outlined,
.ant-input {
    padding: 2px !important;
    border-color: var(--border-color) !important;
    border-radius: var(--border-radius) !important;
    background-color: var(--alt-primary-color) !important;
    color: var(--text-primary-color) !important;
    border-color: var(--alt-primary-color) !important;
    font-size: var(--font-size-small);
}
.ant-input-affix-wrapper :hover,
.ant-input-affix-wrapper-focused {
    border-color: var(--alt-primary-color) !important;
}