/* .accordion {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    overflow: hidden;
  } */
  .ant-collapse,
  .ant-collapse-content  {
    font-size: var(--font-size-small);
    border: none !important;
    width: 100% !important;
    border-radius: var(--border-radius) !important;
    background-color: transparent !important;
    transition: all 1.3s ease-in-out !important; /* Smooth transition for width, height, and border-radius */
    
  }
  .ant-collapse-content-box {
    padding: 2px !important;
  }
  /* Hide the default icon */
  .ant-collapse-header,
  .ant-collapse-header .ant-collapse-header-text {
    padding: 8px !important;
    border-radius: var(--border-radius) !important;
  }

.ant-collapse-header .ant-collapse-expand-icon {
    display: none !important;
    width: 0px !important;
  }
  .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    width: 100% !important;
  }
  
  .accordion-title {
    font-weight: 600;
    font-size: calc(var(--font-size-small) - 2px);
    text-transform: uppercase;
    align-self: center;
    color: var(--text-secondary-color);
    margin-right: 18px;
  }
  
  .accordion-content {
    max-height: 200px; /* Fixed height for scrollable content */
    overflow-y: auto;
    padding: 10px;
    background-color: #fff;
  }
  
  .ant-collapse .ant-collapse-item {
    margin-top: 8px !important;
    border-bottom: none !important;
  }
  
  .accordion-item:last-child {
    border-bottom: none;
  }
  
  .accordion-item-img{
    font-size: var(--font-size-small) !important;
  }
  
  .accordion-item-name {
    font-weight: 600;
    font-size: calc(var(--font-size-small) - 2px);
    align-self: center;
    color: var(--text-primary-color);
    max-width: 100%;
    white-space: nowrap; /* Prevent wrapping */
    overflow: hidden;  /* Hide overflow */
  }
  
  .ant-list {

  }
  .ant-list-item-active,
  .ant-collapse-header-active .ant-collapse-header-text{
    background-color: var(--bg-secondary-color) !important;
    border-radius: var(--border-radius) !important;
  }

  