
.ant-btn {
    /* color: var(--primary-purple) !important; */
    font-size: var(--font-size-medium) !important;
    border-color: var(--primary-purple) !important;
    align-items: center !important;
  }
.ant-btn-filled {
    background-color: var(--primary-purple) !important;
}
.ant-btn-outlined { 
    background-color: transparent !important;
}
.ant-btn :hover ,
.ant-btn-icon :hover ,
.ant-btn:hover .ant-btn-icon {
    color: var(--primary-purple) !important;
    
  }

.ant-btn .ant-typography,
.ant-btn .ant-typography :hover {
    color:black !important
}