.chat-container {
    height: 100%;
    padding: 0px !important;
    margin: 0px !important;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 14px;
    margin: 0px;
    background: rgba(255,255,255, 0.1); /* Transparent white background */
    
    backdrop-filter: blur(10px); /* Apply a blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    border: none; /* Optional border for a frosted glass look */
    border-bottom: 1px solid var(--border-color);
    border-radius: 0px; /* Optional rounded corners */
}

.chat-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.chat-title-name {
    font-size: var(--font-size-large);
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 12px;
}

.chat-title-users {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
    margin-right: auto;
}
.chat-title-users-images {

}
.chat-title-users-online {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color:var(--success);
    margin-left: 20px;
    margin-right: auto;
}
.chat-title-suffix {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 80px;
}
.messages-list {
    padding: 18px;
}
.message-input{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    margin-top: auto;
    /* position: absolute;
    bottom: 0px; */
    flex:1;

}
.message-input-submit-btn {
    margin-left: 8px;
}