/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 78px; /* Initially, the width is 78px when closed */
  height: 100%;
  background-color: var(--bg-secondary-color);
  padding: 8px;
  z-index: 10000;
  overflow-x: hidden; /* Prevent horizontal overflow when sidebar is closed */
  
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* This ensures the footer stays at the bottom */
  
}

/* Sidebar opened state */
.sidebar-open {
  width: 250px; /* When open, the width is 250px */
  box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.2);
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid var(--border-color);
}
/* Sidebar Name Styling */
.sidebar-header-name {
  opacity: 1;
  max-width: 100%;
  white-space: nowrap; /* Prevent wrapping */
  overflow: hidden;  /* Hide overflow */
}

.sidebar-header-name-hidden {
  opacity: 0; /* Fade out when closed */
  max-width: 0; /* Optionally collapse width */
  visibility: hidden; /* Ensure the element doesn't take up space */
}

/* Room list styles */

.room-list{
  background: transparent !important;
  border: none !important;
}

.room-item-name {
  opacity: 1;
  max-width: 100%;
  white-space: nowrap; /* Prevent wrapping */
  overflow: hidden;  /* Hide overflow */
}

.room-item-name-hidden {
  opacity: 0; /* Fade out when closed */
  max-width: 0; /* Optionally collapse width */
  visibility: hidden; /* Ensure the element doesn't take up space */
}
.room-item:hover {
  background-color: var(--hover);
  border-radius: var(--border-radius);
}

.room-item-active {
  background-color: var(--active) !important;
  border-right: 2px solid var(--primary-color) !important;
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
}
.sidebar-bottom{
  position: absolute;
  bottom: 0px;
  background-color: transparent;
}
.sidebar-close-menu-name {
  opacity: 1;
  max-width: 100%;
  white-space: nowrap; /* Prevent wrapping */
  overflow: hidden;  /* Hide overflow */
}

.sidebar-close-menu-name-hidden {
  opacity: 0; /* Fade out when closed */
  max-width: 0; /* Optionally collapse width */
  visibility: hidden; /* Ensure the element doesn't take up space */
}

/* Sidebar footer styles */
.sidebar-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  margin-top: 4px;
  padding: 8px;
  text-align: center;
  border-top: 1px solid var(--border-color);
  width: 100%;
  
  
}

.sidebar-footer-name {
  opacity: 1;
  max-width: 100%;
  white-space: nowrap; /* Prevent wrapping */
  overflow: hidden;  /* Hide overflow */
}

.sidebar-footer-name-hidden {
  opacity: 0; /* Fade out when closed */
  max-width: 0; /* Optionally collapse width */
  visibility: hidden; /* Ensure the element doesn't take up space */
}

/* Sidebar footer image */
.sidebar-footer-img {
  margin-right: 10px;
}


/* Mobile View
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar-toggle {
    display: block;
  }

  .sidebar-open .sidebar {
    transform: translateX(0);
  }
} */
/* Close button styles */
.close-btn {
  cursor: pointer;
  z-index: 99;
}
