.message-container {
    display: flex;
    width: 100%;
    gap: 4px; /* Add space between the columns */
    height: 100%;
  }
  
  .messages-channels-section{
    width: 200px; /* Example fixed width */
    background-color: #f4a261; /* Example color */
    text-align: center;
    
  }
  .messages-profile-section {
    width: 200px; /* Example fixed width */
    background-color: #e76f51; /* Example color */
    padding: 20px;
    line-height: 100px; /* Center text vertically */
    transition: right 0.3s ease; /* Smooth transition for button movement */
    transition: left 0.3s ease; /* Smooth transition for button movement */
    display: none;
  }
  .messages-profile-section-open{
    display: block;
    transition: right 0.3s ease; /* Smooth transition for button movement */
    transition: left 0.3s ease; /* Smooth transition for button movement */
  }
  .messages-section {
    background-color: rgba(255, 255, 255, 0.8); /* White background with opacity */
    padding: 40px;
    padding-top: 0px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex: 1; /* Take up remaining space */
    background-color: #2a9d8f; /* Example color */
    text-align: center;
    line-height: 100px; /* Center text vertically */
    
    
  }
  
  .channel-item {
    margin-top: 24px;
    margin-bottom: 15px;
  }
  
  .channel-item h3 {
    font-size: 1.2em;
    margin: 0 0 10px 0;
  }
  
  .channel-item p {
    font-size: 1em;
    color: #666;
  }
  .messages-list {
    list-style-type: none;
    padding: 10px 0;
    /* max-height: calc(100vh - 150px); */
    overflow-y: auto;
  }
  
  .message-item {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: #2a2a2a;
    color: #e0e0e0;
  }
  
  .message-item .message-header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #b0b0b0;
  }
  
  .message-item .message-text {
    margin-top: 5px;
  }
  
  
  .message-time {
    font-size: 0.85em;
    color: #999;
  }
  
  .message-text {
    font-size: 1em;
  }
  

  .message-input {
    display: flex;
    gap: 10px;
    padding-top: 10px;
  }
  
  .message-input .input-box {
    flex-grow: 1;
    padding: 10px;
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #444;
    border-radius: 8px;
  }
  
    /* Close button styles */
.open-btn {
    cursor: pointer;
    font-size: 20px; /* Adjust size as needed */
    transition: right 0.3s ease; /* Smooth transition for button movement */
    transition: left 0.3s ease; /* Smooth transition for button movement */
    background-color: var(--background-color-light);
    
    color: black;
    font-weight: 300;
  }
  .open-btn-open {
    left: 264px; /* When open, the width is 250px */
    transition: right 0.3s ease; /* Smooth transition for button movement */
    transition: left 0.3s ease; /* Smooth transition for button movement */
  } 