.message-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    width: 100%;
    /* gap: 4px; Add space between the columns */
    height: 100%;
    transition: all 1.3s ease-in-out !important; /* Smooth transition for width, height, and border-radius */
  }
 

 