
/* Main Content Area */
.main-content {
  position: absolute; /* Absolutely positioned relative to the sidebar */
  top: 0px; /* 10px from the top of the sidebar */
  left:78px;
  width: calc(100% - 78px); /* Subtract sidebar width from the total width */
  flex-grow: 1;
  height: calc(100vh);
  transition: all 1.3s ease-in-out !important; /* Smooth transition for width, height, and border-radius */
}

.ant-tooltip {
  visibility:hidden !important;
  left: 100px !important;
}

