@import './fonts.css'; /* Path to your fonts.css file */


/* Add additional weights and styles as needed */

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.3s ease !important; /* Smooth transition when anything changes */
}

code, text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  transition: all 0.3s ease !important; /* Smooth transition when anything changes */
}


/* Light Theme (Default) */
:root {
    --transition: all 1.3s ease !important;
    --white: #ffffff; /* White text */
    --black:rgb(26,26,26);
    --muted: rgb(111, 115, 115); /* Muted text for dark mode */
    --disabled : #d1d1d1;

    --primary-color: #7678ed; /* Main purple color */
    --alt-primary-color: rgb(210,210,255); /* Main purple color */
    --text-primary-color:var(--black);
    --bg-primary-color:var(--white);

    --secondary-color: rgb(39,37,104); 
    --text-secondary-color:var(--muted);
    --bg-secondary-color:rgb(231, 231, 243);
    --primary-purple-rgb: 97,94,231; /* RGB equivalent of primary purple */


    --hover:var(--alt-primary-color);
    --active:var(--hover);

    /* Danger Colors */
    --danger: #dc3545;             /* Red color for danger */
    --danger-light: #f8d7da;       /* Light background color for danger */
    --danger-dark: #c82333;        /* Darker variant for danger */

    /* Success Colors */
    --success: #198754;            /* Green color for success */
    --success-light: #d4edda;      /* Light background color for success */
    --success-dark: #155724;       /* Darker variant for success */

    /* Warning Colors */
    --warning: #ffc107;            /* Yellow color for warning */
    --warning-light: #fff3cd;      /* Light background color for warning */
    --warning-dark: #856404;       /* Darker variant for warning */

    /* Notification Colors */
    --notification: #ff7a55;       /* Primary notification color for highlights and alerts */
    --notification-light: #ffd5c7; /* Light background color for notifications */
    --notification-dark: #c34e36;  /* Darker variant for notification emphasis */

    
    /* Borders */
    --border-color: #dcdcdc; /* Border color */
    --border-radius: 12px; /* Rounded corners */
    

    /* Font Sizes */
    --font-size-small: 14px;
    --font-size-medium: 18px;
    --font-size-large: 22px;

    /* Padding */
    --padding-small: 2px 4px;
    --padding-medium: 4px 6px;
    --padding-large: 10px 12px;
}

