 
  .messages-channels-section{
    background-color: var(--bg-primary-color); /* Example color */
    padding: 18px;
    height: 100%;
    font-size: var(--font-size-small);
    
  }
  .messages-channels-section-title {
    font-weight: 600 !important;
    font-size: var(--font-size-large) !important;
    margin-bottom: 20px !important;
  }